//color
$color-dark-blue-1: #22577E;
$color-dark-blue-2:  #5584AC;
$color-dark-black: #000;
$color-dark-black-2: #29303b;
$color-light-black-1:  #b2aaaa;
$color-light-black-2:  #686f7a;
$color-light-black-3:  #505763;

$color-rgb-black: rgba(0, 0, 0, 0.24);
$color-rgb-black-1: rgba(0,0,0,0.2);
$color-rgb-black-2: rgba(0,0,0,0.19);
$color-rgb-black-3: rgba(0,0,0,0.7);

$color-light-1: #f1f1f1;
$color-light-2: #fff;
$color-yellow-1: #F6F2D4;

$color-red-1: #ff0000;

//padding
$padding-1: 5px;
$padding-2: 10px;
$padding-3: 15px;
$padding-4: 20px;
$padding-5: 25px;

//font-size
$font-size-1: 16px;
$font-size-2: 18px;
$font-size-3: 20px;
$font-size-4: 22px;
$font-size-5: 25px;
$font-size-6: 30px;

//margin 
$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px; 
$margin-5: 25px;
$margin-6: 30px;

